body {
    background-color: #f0f3f8 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (max-width: 978px) {
    .sm-nopadding {
        padding-left: 0;
        padding-right: 0;
        /* margin:0; */
    }
}

@media print {
    @page {
        size: A4;
        margin-left: 0;
        margin-right: 0;
        /* margin: 0; */
        /* padding: 0; */
    }
    html, body {
        width: 210mm;
        height: 297mm;
    }
    div {
        page-break-inside: avoid;
    }
    .pagebreak { page-break-before: always; }
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-2 {
    border-width: 2px !important;
}

.border-3 {
    border-width: 3px !important;
}
